<div class="container">
<%= erb :'my_file/new' %>
<h1>Uploaded files:</h1>
  <table>
    <th>File Name</th>
    <th>Link to Delete</th>
    <% @my_files.each do |file| %>
      <tr>
        <td><a href="/my_file/<%= file.id %>"><%= file.filename %></a></td> 
        <td><a href="/my_file/<%=file.id %>/delete">delete</a></td> 
      </tr>
    <% end %>
  </table>
</div>
